/*PlayfairDisplay*/
@font-face {
    font-family: "Oswald-Medium"; /* Имя шрифта */
    src: url("../fonts/Oswald-Medium.ttf"); /* Путь к файлу со шрифтом */
    
}
@font-face {
    font-family: "Oswald-Regular"; /* Имя шрифта */
    src: url("../fonts/Oswald-Regular.ttf"); /* Путь к файлу со шрифтом */
    
}
    

@font-face {
    font-family: "ProximaNova-Bold"; /* Имя шрифта */
    src: url("../fonts/ProximaNova-Bold/ProximaNova-Bold.eot");
    src: url("../fonts/ProximaNova-Bold/ProximaNova-Bold.eot?#iefix")format("embedded-opentype"),
         url("../fonts/ProximaNova-Bold/ProximaNova-Bold.woff")format("woff"),
         url("../fonts/ProximaNova-Bold/ProximaNova-Bold.ttf")format("truetype");
}

@font-face {
    font-family: "ProximaNovaCondensedBlack"; /* Имя шрифта */
    src: url("../fonts/ProximaNovaCondensedBlack.otf"); /* Путь к файлу со шрифтом */
}


@font-face {
    font-family: "futurabookc"; /* Имя шрифта */
    src: url("../fonts/futurabookc.otf"); /* Путь к файлу со шрифтом */
}


