@import "vars";

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px){
    .models{
        .model__portfolio-five{
            .wrp-form{
                .wr2{
                    left: 90px;
                }
                .wr3{
                    right: 25px;
                }
            }
        }        
    }
    
    .review__item3{
                grid-column: span 6;
                grid-row: span 89;
                color: #fff;
                position: relative;
                background-color: #000;
            h4,p{
                padding-left: 15px;
                padding-right: 15px;
                padding-bottom: 15px;
            }
            .border{
                width: 100%;
                height: 9px;
                background-image: linear-gradient(to right, #30cfd0 0%, #330867 100%);
            }
            .review__wrapp{
                position: absolute;
                bottom: 0px;
                width: 100%;
                img{
                    display: block;
                    width: 100%;
                }
            }
        }
    
    
    
    
}
	/**/


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px){
     
    
   .reviews{
        .review__grid{
            .review__item2{
                display: none;
            }
            .review__item1{
                grid-column: span 6;
                grid-row: span 64;
                color: #fff;
                position: relative;
                background-color: #000;
            h4,p{
                padding-left: 15px;
                padding-right: 15px;
                padding-bottom: 15px;
            }
            .border{
                width: 100%;
                height: 9px;
                background-image: linear-gradient(to right, #30cfd0 0%, #330867 100%);
            }
            .review__wrapp{
                position: absolute;
                bottom: 0px;
                width: 100%;
                img{
                    display: block;
                    width: 100%;
                }
            }
        }
        .review__item3{
                grid-column: span 6;
                grid-row: span 89;
                color: #fff;
                position: relative;
                background-color: #000;
            h4,p{
                padding-left: 15px;
                padding-right: 15px;
                padding-bottom: 15px;
            }
            .border{
                width: 100%;
                height: 9px;
                background-image: linear-gradient(to right, #30cfd0 0%, #330867 100%);
            }
            .review__wrapp{
                position: absolute;
                bottom: 0px;
                width: 100%;
                img{
                    display: block;
                    width: 100%;
                }
            }
        }
            
        .review__item4{
                grid-column: span 6;
                grid-row: span 63;
                color: #fff;
                position: relative;
                background-color: #000;
            h4,p{
                padding-left: 15px;
                padding-right: 15px;
                padding-bottom: 15px;
            }
            .border{
                width: 100%;
                height: 9px;
                background-image: linear-gradient(to right, #30cfd0 0%, #330867 100%);
            }
            .review__wrapp{
                position: absolute;
                bottom: 0px;
                width: 100%;
                img{
                    display: block;
                    width: 100%;
                }
            }
        }        
    }
}
}
	/**/


/* Small Devices, Tablets */
@media only screen and (max-width : 768px){
    
    .reviews{
        .review__grid{
            .review__item2{
                display: none;
            }
            .review__item1{
                grid-column: span 6;
                grid-row: span 64;
                color: #fff;
                position: relative;
                background-color: #000;
            h4,p{
                padding-left: 15px;
                padding-right: 15px;
                padding-bottom: 15px;
            }
            .border{
                width: 100%;
                height: 9px;
                background-image: linear-gradient(to right, #30cfd0 0%, #330867 100%);
            }
            .review__wrapp{
                position: absolute;
                bottom: 0px;
                width: 100%;
                img{
                    display: block;
                    width: 100%;
                }
            }
        }
        .review__item3{
                grid-column: span 6;
                grid-row: span 89;
                color: #fff;
                position: relative;
                background-color: #000;
            h4,p{
                padding-left: 15px;
                padding-right: 15px;
                padding-bottom: 15px;
            }
            .border{
                width: 100%;
                height: 9px;
                background-image: linear-gradient(to right, #30cfd0 0%, #330867 100%);
            }
            .review__wrapp{
                position: absolute;
                bottom: 0px;
                width: 100%;
                img{
                    display: block;
                    width: 100%;
                }
            }
        }
            
        .review__item4{
                grid-column: span 6;
                grid-row: span 63;
                color: #fff;
                position: relative;
                background-color: #000;
            h4,p{
                padding-left: 15px;
                padding-right: 15px;
                padding-bottom: 15px;
            }
            .border{
                width: 100%;
                height: 9px;
                background-image: linear-gradient(to right, #30cfd0 0%, #330867 100%);
            }
            .review__wrapp{
                position: absolute;
                bottom: 0px;
                width: 100%;
                img{
                    display: block;
                    width: 100%;
                }
            }
        }        
    }
}
    
    
}

	/**/


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px){
    .review__item1{
                grid-column: span 6;
                grid-row: span 38 !important;
                color: #fff;
                position: relative;
                background-color: #000;
            h4,p{
                padding-left: 15px;
                padding-right: 15px;
                padding-bottom: 15px;
            }
            .border{
                width: 100%;
                height: 9px;
                background-image: linear-gradient(to right, #30cfd0 0%, #330867 100%);
            }
            .review__wrapp{
                position: absolute;
                bottom: 0px;
                width: 100%;
                img{
                    display: block;
                    width: 100%;
                }
            }
        }
    .review__item3{
                grid-column: span 6;
                grid-row: span 100 !important;
                color: #fff;
                position: relative;
                background-color: #000;
            h4,p{
                padding-left: 15px;
                padding-right: 15px;
                padding-bottom: 15px;
            }
            .border{
                width: 100%;
                height: 9px;
                background-image: linear-gradient(to right, #30cfd0 0%, #330867 100%);
            }
            .review__wrapp{
                position: absolute;
                bottom: 0px;
                width: 100%;
                img{
                    display: block;
                    width: 100%;
                }
            }
        }
    .model{
    
    &__portfolio-one{
        display: none;
    }
    
    &__portfolio-two{
        grid-row: span 3;
        grid-column: span 6;
        div{
            position: relative;
        }
        .model-title{
            position: relative;
            text-align: center;
            z-index: 6;
            opacity: 0;
            transition: 1.5s;
        }
        .title-line-model{
            position: absolute;
            left: 0;
            margin-left: 50%;
            transform: translateX(-50%);
            margin-top: -33px;
            width: 0px;
            height: 9px;
            z-index: 1;
            background-image: linear-gradient(to right, #30cfd0 0%, #330867 100%);
        }
        p{
            text-align: center;
            padding-left: 55px;
            padding-right: 55px;
        }
    
    }
    &__portfolio-three{
        display: none;
    }
    
    
    &__portfolio-four{
        display: none;
    }  
    
    &__portfolio-five{
        grid-row: span 5;
        grid-column: span 6;
        justify-content: center;
       .forma{
            width: 100%;
            height: 100%;
            display: none;
           .close{
               float: right;
               font-size: 16px;
               margin-top: 30px;
               margin-right: 30px;
           }
        }
        .wrp-form{
            position: relative;
            width: 100%;
            .wr2{
                color: #a6a6a6;
                float: left;
                position: absolute;
                left: 5%;
                top:70px;
                margin-left: 0%;
            }
            .wr3{
                float: right;
                position: absolute;
                right: 5%;
                top:70px;
                margin-right: 0% !important;
            }
        }
    }
}
    
    
}
	/**/




/* Custom, iPhone Retina */
@media only screen and (max-width : 320px){
   .reviews{
        .review__grid{
            .review__item2{
                display: none;
            }
            .review__item1{
                grid-column: span 6;
                grid-row: span 64;
                color: #fff;
                position: relative;
                background-color: #000;
            h4,p{
                padding-left: 15px;
                padding-right: 15px;
                padding-bottom: 15px;
            }
            .border{
                width: 100%;
                height: 9px;
                background-image: linear-gradient(to right, #30cfd0 0%, #330867 100%);
            }
            .review__wrapp{
                position: absolute;
                bottom: 0px;
                width: 100%;
                img{
                    display: block;
                    width: 100%;
                }
            }
        }
        .review__item3{
                grid-column: span 6;
                grid-row: span 89;
                color: #fff;
                position: relative;
                background-color: #000;
            h4,p{
                padding-left: 15px;
                padding-right: 15px;
                padding-bottom: 15px;
            }
            .border{
                width: 100%;
                height: 9px;
                background-image: linear-gradient(to right, #30cfd0 0%, #330867 100%);
            }
            .review__wrapp{
                position: absolute;
                bottom: 0px;
                width: 100%;
                img{
                    display: block;
                    width: 100%;
                }
            }
        }
            
        .review__item4{
                grid-column: span 6;
                grid-row: span 63;
                color: #fff;
                position: relative;
                background-color: #000;
            h4,p{
                padding-left: 15px;
                padding-right: 15px;
                padding-bottom: 15px;
            }
            .border{
                width: 100%;
                height: 9px;
                background-image: linear-gradient(to right, #30cfd0 0%, #330867 100%);
            }
            .review__wrapp{
                position: absolute;
                bottom: 0px;
                width: 100%;
                img{
                    display: block;
                    width: 100%;
                }
            }
        }        
    }
}
    
    
   .model{
    
    &__portfolio-one{
        display: none;
    }
    
    &__portfolio-two{
        grid-row: span 3;
        grid-column: span 6;
        div{
            position: relative;
        }
        .model-title{
            position: relative;
            text-align: center;
            z-index: 6;
            opacity: 0;
            transition: 1.5s;
        }
        .title-line-model{
            position: absolute;
            left: 0;
            margin-left: 50%;
            transform: translateX(-50%);
            margin-top: -33px;
            width: 0px;
            height: 9px;
            z-index: 1;
            background-image: linear-gradient(to right, #30cfd0 0%, #330867 100%);
        }
        p{
            text-align: center;
            padding-left: 55px;
            padding-right: 55px;
        }
    
    }
    &__portfolio-three{
        display: none;
    }
    
    
    &__portfolio-four{
        display: none;
    }  
    
    &__portfolio-five{
        grid-row: span 5;
        grid-column: span 6;
        justify-content: center;
       .forma{
            width: 100%;
            height: 100%;
            display: none;
           .close{
               float: right;
               font-size: 16px;
               margin-top: 30px;
               margin-right: 30px;
           }
        }
        .wrp-form{
            position: relative;
            width: 100%;
            .wr2{
                color: #a6a6a6;
                float: left;
                position: absolute;
                left: 5%;
                top:70px;
                margin-left: -11%;
            }
            .wr3{
                float: right;
                position: absolute;
                right: 5%;
                top:70px;
                margin-right: 0% !important;
            }
        }
    }
}  
    
    
    
}
	/**/

@media (min-width: 650px) and (max-width:992px) {
    .models{
        margin-top: 70px;
        margin-bottom: 70px;
    
    .grid{
        display: grid;
        grid-template-columns: repeat(6,1fr);
        grid-template-rows: repeat(8,1fr);
        height: 700px;

    }
    .item{
        display: flex;  
    }
    .model{
    
    &__portfolio-one{
        display: none;
    }
    
    &__portfolio-two{
        grid-row: span 3;
        grid-column: span 6;
        div{
            position: relative;
        }
        .model-title{
            position: relative;
            text-align: center;
            z-index: 6;
            opacity: 0;
            transition: 1.5s;
        }
        .title-line-model{
            position: absolute;
            left: 0;
            margin-left: 50%;
            transform: translateX(-50%);
            margin-top: -45px;
            width: 0px;
            height: 9px;
            z-index: 1;
            background-image: linear-gradient(to right, #30cfd0 0%, #330867 100%);
        }
        p{
            text-align: center;
            padding-left: 55px;
            padding-right: 55px;
        }
    
    }
    &__portfolio-three{
        display: none;
    }
    
    
    &__portfolio-four{
        overflow: hidden;
        grid-row: span 5;
        grid-column: span 3;
        color: red;
        justify-content: center;
        .bg-four{
            width: 100%;
            height: 100%;
            background:  url(../img/girl3.png) no-repeat center top;
            background-size: cover;
            transition: 5s ease;
            &:hover{
                transform: scale(1.3);
            }
        }
    }  
    
    &__portfolio-five{
        grid-row: span 5;
        grid-column: span 3;
        justify-content: center;
       .forma{
            width: 100%;
            height: 100%;
            display: none;
           .close{
               float: right;
               font-size: 16px;
               margin-top: 30px;
               margin-right: 30px;
           }
        }
        .wrp-form{
            position: relative;
            width: 100%;
            .wr2{
                color: #a6a6a6;
                float: left;
                position: absolute;
                left: 113px;
                top:70px;
            }
            .wr3{
                float: right;
                position: absolute;
                right: 25px;
                top:70px;
            }
            button{
                position: absolute;
                bottom: 0px;
                margin-left: 50%;
                transform: translateX(-50%);
                width: 225px;
                height: 51px;
                border: 2px solid black;
                background-color: #fff;
                transition: 0.5s;
                &:hover{
                    background-color: #000;
                    color: #fff;
                }
            }
        }
    }  
            &__portfolio-six{
               display: none;
            }

        }
    }
}

@media only screen and (max-width:650px) {
    
    .models{
        margin-top: 70px;
        margin-bottom: 70px;
    
    .grid{
        display: grid;
        grid-template-columns: repeat(6,1fr);
        grid-template-rows: repeat(8,1fr);
        height: 700px;

    }
    .item{
        display: flex;  
    }
    .model{
    
    &__portfolio-one{
        display: none;
    }
    
    &__portfolio-two{
        grid-row: span 3;
        grid-column: span 6;
        div{
            position: relative;
        }
        .model-title{
            position: relative;
            text-align: center;
            z-index: 6;
            opacity: 0;
            transition: 1.5s;
        }
        .title-line-model{
            position: absolute;
            left: 0;
            margin-left: 50%;
            transform: translateX(-50%);
            margin-top: -33px;
            width: 0px;
            height: 9px;
            z-index: 1;
            background-image: linear-gradient(to right, #30cfd0 0%, #330867 100%);
        }
        p{
            text-align: center;
            padding-left: 55px;
            padding-right: 55px;
        }
    
    }
    &__portfolio-three{
        display: none;
    }
    
    
    &__portfolio-four{
        display: none;
    }  
    
    &__portfolio-five{
        grid-row: span 5;
        grid-column: span 6;
        justify-content: center;
       .forma{
            width: 100%;
            height: 100%;
            display: none;
           .close{
               float: right;
               font-size: 16px;
               margin-top: 30px;
               margin-right: 30px;
           }
        }
        .wrp-form{
            position: relative;
            width: 100%;
            .wr2{
                
            }
            .wr3{
                margin-right: 10%;
            }
            button{
                position: absolute;
                bottom: 20px;
                margin-left: 50%;
                transform: translateX(-50%);
                width: 225px;
                height: 51px;
                border: 2px solid black;
                background-color: #fff;
                transition: 0.5s;
                &:hover{
                    background-color: #000;
                    color: #fff;
                }
            }
        }
    }  
            &__portfolio-six{
               display: none;
            }

        }
    }
}

@media (min-width: 480px) and (max-width:635px){
    .model{
    
    &__portfolio-five{
        
       
        .wrp-form{
            
            .wr2{
                margin-left: 15%;
            }
            .wr3{
                float: right;
                position: absolute;
                right: 5%;
                top:70px;
            }
        }
    }
}
}

/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px){
  
}
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px){
    
}
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px){
    
}
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px){
    
}
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px){
    
}
	/**/

