@import "font";
@import "libs";
@import "vars";

/*========= начало_media.sass ============*/
 
input,button,select {outline:none;}
.header{
    margin-bottom: 70px;
    .header-menu{
        width: 100%;
        height: 30px;
        margin-bottom: 20px;
        margin-top: 20px;
        .logo{
            float: left;
            width: 54px;
            height: 30px;
            background-image: url(../img/logo.png);
            background-repeat: no-repeat;
        }
        .menu{
            font-weight: 400;
            height: 30px;
            margin-left: 53%;
            transform: translateX(-50%);
            a{ 
                font-family: Oswald-Regular;
                text-decoration: none;
                color: #000;
                line-height: 30px;
                text-transform: uppercase;
                margin-right: 41px;
                &:hover{
                    
                }

            }
        }
        .fa-bars{
            float: right;
            z-index: 5;
            font-size: 20px;
            &:hover{
                cursor: pointer;
            }
        }    
    }
    .header-content{
        position: relative;
        color: #fff;
        display: flow-root;
        height: 700px;
        background-image: url(../img/header-von.png);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        h1{
            text-transform: uppercase;
            font-family: ProximaNovaCondensedBlack;
            margin-top: 220px;
            font-size: 55px;
            margin-bottom: 0px;
            text-align: center; 
        }
        p{
            font-family: futurabookc;
            font-size: 18px;
            text-align: center;
            margin-top: 0px;
        }
        .btn{
            font-family: ProximaNova-Bold;
            position: absolute;
            bottom: 50px;
            display: block;
            width: 300px;
            height: 70px;
            border: 2px solid white;
            color: #fff;
            text-align: center;
            line-height: 70px;
            margin-left: 50%;
            transform: translateX(-50%);
            text-decoration: none;
            transition: 0.5s;
            &:hover{
                background-color: #fff;
                color: #000;
            }
        }
    }
}


.delivery{
    background-image: url('../img/fon.png');
    background-position: center;
    width: 100%;
    min-height: 600px;
    .delivery-title{
        font-size: 24px;
        font-family: Oswald-Medium;
        text-align: center;
        position: relative;
        z-index: 3;
        opacity: 0;
        margin-top: 85px;
    }
    .title-line-delivery{
        position: absolute;
            left: 0;
            margin-left: 50%;
            transform: translateX(-50%);
            margin-top: -45px;
            width: 0px;
            height: 9px;
            z-index: 1;
            background-image: linear-gradient(to right, #30cfd0 0%, #330867 100%);
    }
    .delivery-descr{
        font-family: futurabookc;
        font-size: 24px;
        text-align: center;
    }
    .wrp{
       /* display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items:center;*/
        margin-top: 80px;
        transform: translateY(65%);
        .item{
            display: none;
            .img1{
                margin-top: 24px;
            }
            .img2{
                margin-top: 9px;
            }
            .img3{
                margin-top: 13px;
            }
            .img4{
                margin-top: 17px;
            }
            img{
                margin-left: 50%;
                transform: translateX(-50%);
            }
            .p1{
                font-size: 16px;
                font-family: futurabookc;
                text-align: center;
                margin-top: 30px;
                width: 170px;
                margin-left: 50%;
                transform: translateX(-50%);
            }
            .p2{
                font-size: 16px;
                font-family: futurabookc;
                text-align:center;
                margin-top: 30px;
                width: 170px;
                margin-left: 50%;
                transform: translateX(-50%);
            }
            .p3{
                font-size: 16px;
                font-family: futurabookc;
                text-align:center;
                margin-top: 30px;
                width: 170px;
                margin-left: 50%;
                transform: translateX(-50%);
            }
            .p4{
                font-size: 16px;
                font-family: futurabookc;
                text-align:center;
                margin-top: 25px;
                width: 170px;
                margin-left: 50%;
                transform: translateX(-50%);
            }
        }
    }
    .delivery-carousel{
        margin-top: 100px;
        .owl-next{
            display: none;
        }
        .owl-prev{
            display: none;
        }
        .owl-dots{
            
            span{
            background-color: black;
            }
        }
        
        img{
            width: 100px;
            margin-left: 50%;
            transform: translateX(-50%);
        }
        .p1{
            font-family: futurabookc;
            margin-top: 51px;
            text-align: center;
        }
        .p2{
            font-family: futurabookc;
            margin-top: 30px;
            text-align: center;
        }
        .p3{
            font-family: futurabookc;
            margin-top: 37px;
            text-align: center;
        }
        .p4{
            font-family: futurabookc;
            margin-top: 30px;
            text-align: center;
        }
    }
    
}




.models{
    margin-top: 70px;
    margin-bottom: 70px;
    position: relative;
    .grid{
        display: grid;
        grid-template-columns: repeat(6,1fr);
        grid-template-rows: repeat(8,1fr);
        height: 700px;

    }
    .item{
        display: flex;  
    }
    .model{
    
    &__portfolio-one{
        overflow: hidden;
        grid-row: span 5;
        grid-column: span 2;
        .bg-one{
            width: 100%;
            height: 100%;
            background:  url(../img/girl1.png) no-repeat center top;
            background-size: cover;
            transition: 5s ease;
            &:hover{
                transform: scale(1.3);
            }
        }
    }
    
    &__portfolio-two{
        grid-row: span 3;
        grid-column: span 2;
        div{
            position: relative;
        }
        .model-title{
            font-size: 24px;
            font-family: Oswald-Medium;
            position: relative;
            text-align: center;
            z-index: 6;
            opacity: 0;
            transition: 1.5s;
        }
        .title-line-model{
            position: absolute;
            left: 0;
            margin-left: 50%;
            transform: translateX(-50%);
            margin-top: -45px !important;
            width: 0px;
            height: 9px;
            z-index: 1;
            background-image: linear-gradient(to right, #30cfd0 0%, #330867 100%);
        }
        p{
            font-family: futurabookc;
            font-size: 15px;
            text-align: center;
            padding-left: 55px;
            padding-right: 55px;
        }
    
    }
    &__portfolio-three{
        overflow: hidden;
        grid-row: span 3;
        grid-column: span 2;
        color: red;
        justify-content: center;
        .bg-three{
            width: 100%;
            height: 100%;
            background:  url(../img/girl2.png) no-repeat center top;
            background-size: cover;
            transition: 5s ease;
            &:hover{
                transform: scale(1.3);
            }
        }        
    }
    
    
    &__portfolio-four{
        overflow: hidden;
        grid-row: span 5;
        grid-column: span 2;
        color: red;
        justify-content: center;
        .bg-four{
            width: 100%;
            height: 100%;
            background:  url(../img/girl3.png) no-repeat center top;
            background-size: cover;
            transition: 5s ease;
            &:hover{
                transform: scale(1.3);
            }
        }
    }  
    
    &__portfolio-five{
        grid-row: span 5;
        grid-column: span 2;
        justify-content: center;
        
       .forma{
            width: 100%;
            height: 100%;
            
            display: none;
           .close{
               float: right;
               font-size: 16px;
               margin-top: 30px;
               margin-right: 30px;
               
           }
           .form-group{
               .control-label{
                    display: none;
                }
               .name{
                display: block;
                border: none;
                border-bottom: 2px solid #bebebe;
                margin-top: 100px !important;
                margin-bottom: 20px;
            }
            .tel{
                display: block;
                border: none;
                border-bottom: 2px solid #bebebe;
                margin-top: 20px;
                margin-bottom: 20px;
            }
               .form-control{
                    margin-top: 20px;
                   margin-bottom: 20px;
               }
            .popup-btn{
                font-family: ProximaNovaCondensedBlack;
                height: 40px;
                background-color: #fff;
                border: 2px solid #000;
                line-height: 37px;
                text-transform: uppercase;
                text-align: center;
                color: #000;
                transition: 0.5s;
                margin-top: 20px;
                margin-bottom: 20px;
                font-size: 14px;
                font-weight: 700;
                &:hover{
                    text-decoration: none;
                    color: #fff;
                    background-color: #000;
                    cursor: pointer;
                }
            }
           }
//           .name{
//                display: block;
//                border: none;
//                border-bottom: 2px solid #bebebe;
//                margin-top: 125px;
//                margin-bottom: 20px;
//            }
//            .tel{
//                display: block;
//                border: none;
//                border-bottom: 2px solid #bebebe;
//                margin-top: 20px;
//                margin-bottom: 20px;
//            }
//            .popup-btn{
//                font-family: ProximaNovaCondensedBlack;
//                height: 40px;
//                background-color: #fff;
//                border: 2px solid #000;
//                line-height: 37px;
//                text-transform: uppercase;
//                text-align: center;
//                color: #000;
//                transition: 0.5s;
//                margin-top: 20px;
//                margin-bottom: 20px;
//                font-size: 14px;
//                font-weight: 700;
//                &:hover{
//                    text-decoration: none;
//                    color: #fff;
//                    background-color: #000;
//                    cursor: pointer;
//                }
//            }
        }
        .wrp-form{
            position: relative;
            width: 100%;
            height: 100%;
            .wr2{
                font-family: Oswald-Medium;
                font-size: 12px;
                line-height: 1;
                color: #a6a6a6;
                float: left;
                position: absolute;
                left: 100px;
                top:70px;
            }
            .wr3{
                font-size: 12px;
                line-height: 1;
                font-family: Oswald-Medium;
                float: right;
                position: absolute;
                right: 50px;
                top:70px;
            }
            .btn-open{
                font-family: ProximaNovaCondensedBlack;
                display: block;
                position: absolute;
                bottom: 70px;
                margin-left: 50%;
                text-transform: uppercase;
                transform: translateX(-50%);
                color: #000;
                line-height: 47px;
                text-align: center;
                text-decoration: none;
                height: 51px;
                border: 2px solid black;
                background-color: #fff;
                transition: 0.5s;
                
                &:hover{
                    background-color: #000;
                    color: #fff;
                    cursor: pointer;
                }
            }
        }
    }  
    
        
    
    &__portfolio-six{
        overflow: hidden;
        grid-row: span 3;
        grid-column: span 2;
        color: red;
        justify-content: center;
        .bg-six{
            width: 100%;
            height: 100%;
            background:  url(../img/girl4.png) no-repeat center top;
            background-size: cover;
            transition: 5s ease;
            &:hover{
                transform: scale(1.3);
                }
            }
        }
    }
}


.gallery{
    margin-top: 70px;
    margin-bottom: 70px;
    position: relative;
    .title-gallery{
        font-size: 24px;
        font-family: Oswald-Medium;
        text-align: center;
        position: relative;
        z-index: 4;
        opacity: 0;
        transition: 1.5s;
    }
    .title-line-gallery{
        position: absolute;
        left: 0;
        transition: 1s;
        margin-top: -45px;
        margin-left: 50%;
        transform: translateX(-50%);
        width: 0px;
        height: 9px;
        background-image: linear-gradient(to right, #30cfd0 0%, #330867 100%);
        }
    .man{
        font-family: FuturaBookC;
        font-size: 16px;
        font-weight: 100;
        text-align: center;
        color: #8b8b8b;
        .owl-next{
            position: absolute;
            top: 0px;
            right: 0px;
            margin: 0;
            padding: 0;
            background-image: url(../img/right-arrow%20.png);
            background-position: center;
            background-repeat: no-repeat;
            background-color: #000;
            width: 50px;
            height: 50px;
        }
        .owl-prev{
            position: absolute;
            top: 52px;
            right: 0px;
            margin: 0;
            padding: 0;
            background-image: url(../img/left-arrow.png);
            background-position: center;
            background-repeat: no-repeat;
            background-color: #000;
            width: 50px;
            height: 50px;
            
        }
        .owl-dots{
            display: none;
        }
    }
    .woman{
        font-family: FuturaBookC;
        font-size: 16px;
        font-weight: 100;
        text-align: center;
        color: #8b8b8b;
        .owl-next{
            position: absolute;
            top: 0px;
            left: 0px;
            margin: 0;
            padding: 0;
            background-image: url(../img/right-arrow%20.png);
            background-position: center;
            background-repeat: no-repeat;
            background-color: #000;
            width: 50px;
            height: 50px;
        }
        .owl-prev{
            position: absolute;
            top: 52px;
            left: 0px;
            margin: 0;
            padding: 0;
            background-image: url(../img/left-arrow.png);
            background-position: center;
            background-repeat: no-repeat;
            background-color: #000;
            width: 50px;
            height: 50px;
        }
        .owl-dots{
            display: none;
        }
    }
}

 
.reviews{
    .review__title{
        font-size: 30px;
        font-family: Oswald-Medium;
        text-align: center;
        z-index: 3;
        position: relative;
        opacity: 0;
        transition: 1.5s;
    }
    .title-line-reviews{
            position: absolute;
            left: 0;
            margin-left: 50%;
            transform: translateX(-50%);
            margin-top: -55px;
            width: 0px;
            height: 9px;
            z-index: 1;
            background-image: linear-gradient(to right, #30cfd0 0%, #330867 100%);
        }
    .review__grid{
        display: grid;
        grid-template-columns: repeat(6,1fr);
        grid-template-rows: repeat(7,1fr);
        grid-gap: 10px;
        height: 100%;
        .review__item1{
            color: #fff;
            position: relative;
            border-top: 9px solid linear-gradient(to right, #30cfd0 0%, #330867 100%);
            grid-row: span 7;
            grid-column: span 2;
            background-color: #000;
            h4{
                padding-left: 15px;
            }
            p{
                font-family: FuturaBookC;
                font-size: 16px;
                font-weight: 400;
                padding-left: 15px;
                padding-right: 15px;
                padding-bottom: 15px;
            }
            .border{
                width: 100%;
                height: 9px;
                background-image: linear-gradient(to right, #30cfd0 0%, #330867 100%);
            }
            .review__wrapp{
                position: absolute;
                bottom: 0px;
                
                img{
                    display: block;
                    width: 100%;
                }
            }
            
            
        } 
        .review__item2{
            grid-row: span 2;
            grid-column: span 2;
            p{
                font-family: FuturaBookC;
                font-size: 18px;
                font-weight: 400;
                text-align: center;
                margin-top: 80px;
                padding-left: 15px;
                padding-right: 15px;
            }
        } 
        .review__item3{
            color: #fff;
            grid-row: span 7;
            grid-column: span 2;
            background-color: #000;
            position: relative;
            h4{
                padding-left: 15px;
            }
            p{
                font-family: FuturaBookC;
                font-size: 16px;
                font-weight: 400;
                padding-left: 15px;
                padding-right: 15px;
                padding-bottom: 15px;
            }
            .border{
                width: 100%;
                height: 9px;
                background-image: linear-gradient(to right, #30cfd0 0%, #330867 100%);
            }
            .review__wrapp{
                position: absolute;
                bottom: 0px;
                
                img{
                    display: block;
                    width: 100%;
                }
            }
        } 
        .review__item4{
            color: #fff;
            grid-row: span 5;
            grid-column: span 2;
            background-color: #000;
            position: relative;
            h4{
                padding-left: 15px;
            }
            p{
                font-family: FuturaBookC;
                font-size: 16px;
                font-weight: 400;
                padding-left: 15px;
                padding-right: 15px;
                padding-bottom: 15px;
            }
            .border{
                width: 100%;
                height: 9px;
                background-image: linear-gradient(to right, #30cfd0 0%, #330867 100%);
            }
            .review__wrapp{
                img{
                    display: block;
                    width: 100%;
                }
            }
        } 
    } 
}



.footer{
    width: 100%;
    min-height: 70px;
    margin-top: 70px;
    background-color: #000;
    color: #fff;
    p{
        line-height: 42px;
    }
    a{
        color: #fff;
        line-height: 70px;
    }
}

.small-menu{
    display: none;
    width: 100vw;
    min-height: 100vh;
    background-color: #fff;
    position: absolute;
    
    top: 0px;
    z-index: 4;
    :nth-child(2) {
        margin-top: 120px;
    }
    :nth-child(7) {
        margin-top: 50px;
    }
    .small-menu-title{
        text-align: center;
    }
    a{
        color: #fff;
        line-height: 40px;
        text-align: center;
        text-decoration: none;
        display: block;
        background-color: #000;
        width: 100%;
        margin-top: 2px;
        margin-bottom: 2px;
        height: 40px;
        transition: 0.5s;
        &:hover{
            background-color: rgba(0,0,0,0.4)
        }
    }
    .fa-times{
        font-size: 25px;
        float: right;
        margin-top: 45px;
        margin-right: 7px;
        &:hover{
            cursor: pointer;
        }
    }
}

.size-popup{
    position: fixed;
    top: 0;
    z-index: 15;
    width: 100%;
    height: 100%;
    display: none;
    background-color: #fff;
    img{
        margin-top: 20%;
        height: auto;
    }
    .size-close{
        float: right;
        font-size: 20px;
        margin-top: 3%;
        &:hover{
            cursor: pointer;
        }
    }
    
}

/*========= конец_media.sass ============*/

@import "media"; // Всегда в конце
